// reset some styles

// end reset

main {
  max-width: 70ch;
  padding: 2ch;
  margin: auto;
}

body {
  background-color: $background-color;
  font-family: $base-font-family;
}

.header-wrapper {
  background-color: $tags-color;
  color: $background-color;
}

// the .full-bleed utilities
// make full bleed on mobile devices
@include media-query($on-palm) {
  pre {
    width: 100vw;
    max-width: 100ch;
    position: relative;
    left: 50%;
    margin-left: -50vw !important;
  }
}