/* purgecss ignore */

body {
  background-color:#FCFBEB;
}

#__layout {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  min-height: 100vh;
  background-color: #fcfbeb;
}

.blogpost-container {
  transition: all .5s cubic-bezier(.55,0,.1,1);
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}

.layout-enter-active, .layout-leave-active {
  transition: opacity .5s
}
.layout-enter, .layout-leave-active {
  opacity: 0
}
.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(10px, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-10px, 0);
}

/* for blogpost */
.article p {
  margin-bottom: 1.25rem;
  margin-top: 0.05rem;
  line-height: 1.5;
  font-size: .95rem;
}

.article ul {
  margin-bottom: 1.25rem
}

.article p::selection,
.article i::selection,
.article a::selection,
.article s::selection,
.article strong::selection {
  background-color: #f1c40f;
}

.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  margin-bottom: 1.25rem;
}

.article a {
  color: red;
  text-decoration: none;
}

ol {
  margin: 0;
  padding: 0;
  list-style-type: circle;
}

.article a:hover {
  text-decoration: underline;
}

.article a:active {
  color: black;
}

.article a:visited {
  color: purple;
}

.article pre {
  margin-bottom: 1.25rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

.article blockquote {
  background: #fff9c2;
  border-left: 10px solid #f2d024;
  margin-bottom: 1.25rem;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.article blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}

.article blockquote p {
  display: inline;
}

.nuxt-link-blog {
  color: black;
}

.nuxt-link-blog:hover {
  text-decoration: underline;
}

.nuxt-link-blog:active {
  color: black;
}

.nuxt-link-blog:visited {
  color: purple;
}
/* for blogpost */
/* purgecss end ignore */
